:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: #1d1d1d;
  background-image: url("assets/noise.svg");
  background-blend-mode: multiply;
  background-size: 512px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: rgba(168, 168, 168, 0.87);
    background-blend-mode: color;
  }
}
